body {
    padding-top: 50px;
    z-index: 0;
}

/* top styling */

.jumbotron {
    background-color: #9575CD;
    color: floralwhite;
    margin: 0px auto;
    padding: 70px 30px;
}

/* navbar styling */

.navbar-dark {
    background-color: #512DAB;
}

/* row styling */

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    border-bottom: 1px ridge;
    margin: 0px auto;
    min-height: 400px;
    padding: 50px 0px;
}

/* Tab Content */

.tab-content {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

/* footer styling */

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px;
}

.address {
    color: #0F0F0F;
    font-size: 80%;
    margin: 0px;
}
